<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/styles.css">
	<title>404 Error</title>
</head>
<body>
	<div class="floating-box">
		<h1>404: Something seems to have gone wrong</h1>
		<div class="return-div">
			<a href="/">Return to category select</a>
		</div>
	</div>
</body>
</html>

